* {
    box-sizing: border-box;
    margin: 0px;
    a {
        text-decoration: none;
    }
}
html {
    scroll-behavior: smooth;
}
.darkMode {
    background: rgb(255, 255, 255);
    filter: invert(1);
    .header {
        button {
            filter: invert(1);
        }
    }
    .menu {
        h1:hover {
            filter: invert(1);
            border-bottom: 1px solid rgba(56, 56, 56, 0.672);
        }
        .lightbox {
            filter: invert(0.7);
        }
        .newIcon {
            filter: invert(1);
        }
        .getStarted {
            filter: invert(1);
        }
    }
    .faqMain {
        .faqMenuMain {
            .faqMenu {
                a {
                    filter: grayscale(1);
                    // filter: invert(1);
                    .faqMenuChoise {
                        img {
                            filter: grayscale(1);
                        }
                    }
                }
            }
            .faqMap {
                .faqMapLine {
                    filter: invert(1);
                }
            }
        }
        .faqAnswer {
            .faqAnswerDiv {
                table {
                    td,th,tr,a{
                        filter: invert(1);
                    }

                }
                .howToBuy {
                    div {
                        h2 {
                            filter: invert(1);
                        }
                        a{
                            filter: invert(1);
                        }
                    }
                }
            }
        }
        .shareSocial {
            .shareSocialIcons {
            }
            h3 {
                filter: invert(1);
            }
            a {
                filter: invert(1);
            }
        }
    }
}
.mainContainer {
    font-family: roboto;
    .header {
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 60px;
        top: 0vh;
        z-index: 999;
        background-color: white;
        box-shadow: 0 4px 20px -2px rgb(237, 237, 237);
        h1 {
            position: absolute;
            font-weight: 300;
            font-size: 20px;
            padding-left: 29px;
            top: 0;
        }
        a {
            color: black;
            text-decoration: none;
        }
        .logo {
            width: 25px;
            margin: 18px;
        }
        .buyCrypto {
            width: 120px;
            height: 38px;
            border: none;
            border-radius: 5px;
            background: linear-gradient(
                356deg,
                rgba(71, 143, 255, 1) 0%,
                rgba(0, 99, 255, 1) 49%,
                rgba(0, 99, 255, 1) 100%
            );
            color: white;
            position: absolute;
            right: 70px;
            top: 11.5px;
            font-weight: bold;
            cursor: pointer;
        }
        img {
            width: 25px;
            margin-right: 20px;
            cursor: pointer;
        }
    }
    .menu {
        display: block;
        position: sticky;
        overflow-y: scroll;
        overflow-x: hidden;
        height: auto;
        padding: 15px 30px 0px 30px;
        top: 60px;
        z-index: 10;
        animation: fadein 0.5s;
        background-color: rgb(255, 255, 255);
        h1 {
            font-weight: 400;
            width: 100%;
            font-size: 18px;
            padding: 15px 0px 15px 0px;
            cursor: pointer;
            border-bottom: 1px solid rgba(235, 235, 235, 0.672);
        }
        h1:hover {
            color: #0063ff;
        }
        a {
            color: rgb(0, 0, 0);
            text-decoration: none;
        }
        button {
            margin-top: 25px;
            width: 100%;
            height: 45px;
            border: none;
            color: rgb(0, 0, 0);
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0);
            cursor: pointer;
        }
        button:hover {
            background-color: rgb(243, 243, 243);
        }
        .exitMenuIcon {
            width: 30px;
        }
        .newIcon {
            position: absolute;
            left: 110px;
            top: 127px;
            width: 34px;
            z-index: 9;
            cursor: pointer;
            border-radius: 30px;
        }
        .companyMenu {
            display: none;
            font-weight: 300;
            font-size: 18px;
            background-color: rgba(235, 235, 235, 0.466);
            padding: 12px 30px 12px 30px;
            margin: 0px -30px 0px -30px;
        }
        .btnDownArrow {
            width: 15px;
            position: absolute;
            right: 45px;
            top: 347px;
        }
        .btnDarkMode {
            position: relative;
            z-index: 2;
            .btnDarkModeIcon {
                position: absolute;
                right: 10px;
                top: 16px;
                width: 20px;
                z-index: 1;
                cursor: pointer;
                background-color: rgb(244, 244, 244);
                padding: 3px;
                border-radius: 5px;
                opacity: 0.8;
            }
        }
        .btnAddToHomeScreen {
            position: relative;
            .btnAddToHomeScreenIcon {
                position: absolute;
                right: 10px;
                top: 16px;
                width: 20px;
                z-index: 9;
                cursor: pointer;
                padding: 3px;
                border-radius: 5px;
                opacity: 0.8;
            }
        }
        .getStarted {
            background: linear-gradient(
                356deg,
                rgba(71, 143, 255, 1) 0%,
                rgba(0, 99, 255, 1) 49%,
                rgba(0, 99, 255, 1) 100%
            );
            color: white;
            margin-top: 20px;
        }
        .subMenu {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70px;
            border-bottom: 1px solid rgb(231, 231, 231);
            h3 {
                margin: 10px;
                font-size: 13px;
                color: rgb(100, 100, 100);
                white-space: nowrap;
            }
            h3:hover {
                color: rgb(0, 0, 0);
            }
        }
        .socialMedia {
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            .socialMediaIcon {
                width: 20px;
                margin: 5px 15px 0px 15px;
                opacity: 0.7;
            }
            .socialMediaIcon:hover {
                opacity: 1;
            }
        }
    }
    .faqMain {
        background-color: rgba(235, 235, 235, 0.37);
        .faqHeader {
            display: flex;
            justify-content: start;
            align-items: center;
            height: 200px;
            padding: 0px 5%;
        }
        .faqMenuMain {
            display: flex;
            width: 100%;
            border-radius: 20px 20px 0px 00px;
            padding: 60px 10px 20px 10px;
            background-color: rgb(255, 255, 255);
            .faqMenu {
                display: flex;
                align-items: flex-start;
                justify-content: start;
                flex-direction: column;
                width: 70%;
                padding: 0px 5%;
                a {
                    width: 100%;
                    font-size: 9px;
                    font-weight: 400;
                    color: black;
                    .faqMenuChoise {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background-color: #0062ff11;
                        border-left: 3px solid #0063ff;
                        padding: 13px 30px;
                        margin-bottom: 10px;
                        cursor: pointer;

                        img {
                            width: 17px;
                        }
                    }
                }
            }
            .faqMap {
                display: flex;
                align-items: flex-start;
                padding: 0px 30px;
                width: 30%;
                .faqMapLine {
                    height: 170px;
                    width: 30px;
                    border-left: 1px solid #0063ff;
                    .pin {
                        height: 1px;
                        width: 13px;
                        margin-bottom: 35px;
                        background-color: #0063ff;
                    }
                }
                .faqMapLinks {
                    height: 100%;
                    h3 {
                        color: rgb(74, 74, 74);
                        font-size: 16px;
                        margin-bottom: 20px;
                        font-weight: 300;
                        cursor: pointer;
                    }
                    h3:hover {
                        color: rgb(5, 5, 5);
                        font-weight: 400;
                    }
                }
            }
        }
        .faqAnswer {
            background-color: rgb(255, 255, 255);
            border-radius: 0px 0px 20px 20px;
            padding-bottom: 20px;
            height: auto;
            .category {
                display: flex;
                align-items: center;
                padding: 40px 0px 20px 0px;
                margin: 0px 9vw 10px 9vw;
                border-bottom: 1px solid rgb(239, 239, 239);
                h1 {
                    font-size: 25px;
                }
                img {
                    background-color: #5f9cff11;
                    border-radius: 50%;
                    width: 35px;
                    padding: 5px;
                    margin-left: 20px;
                }
            }
            .faqAnswerDiv {
                padding: 0px 7vw;
                a {
                    color: #0063ff;
                    text-decoration: none;
                }
                h1 {
                    padding: 20px 20px 0px 20px;
                    font-size: 18px;
                }
                p {
                    padding: 20px 20px 20px 30px;
                    font-size: 16px;
                    color: rgb(61, 61, 61);
                    font-weight: 300;
                }
                table {
                    margin: 30px 10px;
                    font-family: arial, sans-serif;
                    border-collapse: collapse;
                    width: 100%;
                    td,
                    th {
                        border: 1px solid #eeeeeeac;
                        text-align: left;
                        padding: 25px 10px;
                    }
                    a {
                        color: #0063ff;
                        text-decoration: none;
                    }
                    td:nth-child(even) {
                        font-weight: 300;
                        font-size: 14px;
                    }
                    tr:nth-child(even) {
                        background-color: #4b90ff11;
                    }
                    tr:hover {
                        background-color: #1a6ff811;
                    }
                }
                .howToBuy {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    justify-content: start;
                    height: auto;
                    padding: 0vh 5vw 0vw 5vw;
                    div {
                        position: relative;
                        width: 32vw;
                        min-width: 290px;
                        min-height: 160px;
                        height: auto;
                        flex: 1;
                        padding: 10px 20px;
                        h1 {
                            margin: 0;
                            padding: 0;
                        }
                        h2 {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid #0063ff;
                            color: #0063ff;
                            padding: 3px;
                            width: 35px;
                            height: 35px;
                            font-size: 15px;
                            border-radius: 50%;
                            margin-bottom: 10px;
                        }
                        .lastOne {
                            background-color: #0063ff;
                            color: #ffffff;
                        }
                        h5 {
                            margin-top: 10px;
                            font-size: 15px;
                            font-weight: 300;
                            color: rgb(64, 64, 64);
                        }
                    }
                }
            }
        }
        .shareSocial {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 150px;
            padding-left: 7vw;
            h2 {
                font-size: 14px;
                margin-bottom: 10px;
            }
            .shareSocialIcons {
                display: flex;
                align-items: start;
                .socialimg {
                    width: 20px;
                    margin-right: 5px;
                }
            }
            h5 {
                a {
                    color: #0063ff;
                    text-decoration: none;
                }
                margin-top: 15px;
                font-weight: 400;
            }
        }
    }
    .jumpTop {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 40px;
        height: 40px;
        margin: 30px;
        border-radius: 50%;
        background-color: rgb(244, 244, 244);
        img {
            transform: rotate(-180deg);
            width: 17px;
        }
    }
}
@media (max-width: 590px) {
    .mainContainer {
        font-family: roboto;
        .header {
            .buyCrypto {
                width: 110px;
                height: 38px;
                right: 65px;
                top: 11.5px;
            }
        }
        .faqMain {
            .faqHeader {
                height: 140px;
                h1 {
                    font-size: 20px;
                }
            }
            .faqMenuMain {
                flex-direction: column-reverse;
                padding-top: 30px;
                .faqMenu {
                    width: 100%;
                    a {
                        font-size: 8px;
                        .faqMenuChoise {
                            padding: 13px 20px;
                            img {
                                width: 10px;
                            }
                        }
                    }
                }
                .faqMap {
                    margin-bottom: 20px;
                    .faqMapLinks {
                        h3 {
                            margin-top: 5px;
                            margin-left: 5px;
                        }
                    }
                }
            }
            .faqAnswer {
                .category {
                    margin: 0px 25px 10px 25px;
                }
                .faqAnswerDiv {
                    padding: 0px 2vw;
                    h1 {
                        font-size: 17px;
                    }
                    p {
                        padding: 20px 20px 20px 20px;
                    }
                    table {
                        width: 95%;
                    }
                }
            }
        }
    }
}
@media (min-width: 1377px) {
    .mainContainer {
        .header {
            padding: 0px 7vw;
            .buyCrypto {
                right: 12%;
            }
        }
        .faqMain {
            .faqHeader {
                padding: 0px 14vw;
            }
            .faqMenuMain {
                padding: 60px 9vw 20px 9vw;
            }
            .faqAnswer {
                padding: 0px 28vw 20px 5vw;
            }
        }
    }
}
