* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  font-family: roboto;
}

* a {
  text-decoration: none;
}

.darkMode .header button {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .menu h1:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
  border-bottom: 1px solid rgba(56, 56, 56, 0.672);
}

.darkMode .menu .lightbox {
  -webkit-filter: invert(0.7);
          filter: invert(0.7);
}

.darkMode .menu .newIcon {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .menu .getStarted {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .buyCrypto .headerBuyCrypto {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.darkMode .buyCrypto .headerBuyCrypto button {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .buyCrypto .howToBuy div {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .buyCrypto .howToBuy div h1,
.darkMode .buyCrypto .howToBuy div h5 {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .buyCrypto .exchangesTitle h1,
.darkMode .buyCrypto .exchangesTitle img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .buyCrypto .exchanges .exchangesDiv {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.mainContainer {
  font-family: roboto;
}

.mainContainer .header {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 60px;
  top: 0vh;
  z-index: 999;
  background-color: white;
  -webkit-box-shadow: 0 4px 20px -2px #ededed;
          box-shadow: 0 4px 20px -2px #ededed;
}

.mainContainer .header h1 {
  position: absolute;
  font-weight: 300;
  font-size: 20px;
  padding-left: 29px;
  top: 0;
}

.mainContainer .header a {
  color: black;
  text-decoration: none;
}

.mainContainer .header .logo {
  width: 25px;
  margin: 18px;
}

.mainContainer .header .buyCrypto {
  width: 120px;
  height: 38px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(356deg, #478fff 0%, #0063ff 49%, #0063ff 100%);
  color: white;
  position: absolute;
  right: 70px;
  top: 11.5px;
  font-weight: bold;
  cursor: pointer;
}

.mainContainer .header img {
  width: 25px;
  margin-right: 20px;
  cursor: pointer;
}

.mainContainer .menu {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  overflow: scroll;
  height: 94vh;
  padding: 15px 30px 0px 30px;
  top: 60px;
  z-index: 10;
  -webkit-animation: fadein 0.5s;
          animation: fadein 0.5s;
  background-color: white;
}

.mainContainer .menu h1 {
  font-weight: 400;
  width: 100%;
  font-size: 18px;
  padding: 15px 0px 15px 0px;
  cursor: pointer;
  border-bottom: 1px solid rgba(235, 235, 235, 0.672);
}

.mainContainer .menu h1:hover {
  color: #0063ff;
}

.mainContainer .menu a {
  color: black;
  text-decoration: none;
}

.mainContainer .menu button {
  margin-top: 25px;
  width: 100%;
  height: 45px;
  border: none;
  color: black;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.mainContainer .menu button:hover {
  background-color: #f3f3f3;
}

.mainContainer .menu .exitMenuIcon {
  width: 30px;
}

.mainContainer .menu .newIcon {
  position: absolute;
  left: 110px;
  top: 127px;
  width: 34px;
  z-index: 9;
  cursor: pointer;
  border-radius: 30px;
}

.mainContainer .menu .companyMenu {
  display: none;
  font-weight: 300;
  font-size: 18px;
  background-color: rgba(235, 235, 235, 0.466);
  padding: 12px 30px 12px 30px;
  margin: 0px -30px 0px -30px;
}

.mainContainer .menu .btnDownArrow {
  width: 15px;
  position: absolute;
  right: 45px;
  top: 347px;
}

.mainContainer .menu .btnDarkMode {
  position: relative;
  z-index: 2;
}

.mainContainer .menu .btnDarkMode .btnDarkModeIcon {
  position: absolute;
  right: 10px;
  top: 16px;
  width: 20px;
  z-index: 1;
  cursor: pointer;
  background-color: #f4f4f4;
  padding: 3px;
  border-radius: 5px;
  opacity: 0.8;
}

.mainContainer .menu .btnAddToHomeScreen {
  position: relative;
}

.mainContainer .menu .btnAddToHomeScreen .btnAddToHomeScreenIcon {
  position: absolute;
  right: 10px;
  top: 16px;
  width: 20px;
  z-index: 9;
  cursor: pointer;
  padding: 3px;
  border-radius: 5px;
  opacity: 0.8;
}

.mainContainer .menu .getStarted {
  background: linear-gradient(356deg, #478fff 0%, #0063ff 49%, #0063ff 100%);
  color: white;
  margin-top: 20px;
}

.mainContainer .menu .subMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  border-bottom: 1px solid #e7e7e7;
}

.mainContainer .menu .subMenu h3 {
  margin: 10px;
  font-size: 13px;
  color: #646464;
}

.mainContainer .menu .subMenu h3:hover {
  color: black;
}

.mainContainer .menu .socialMedia {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainContainer .menu .socialMedia .socialMediaIcon {
  width: 20px;
  margin: 5px 15px 0px 15px;
  opacity: 0.7;
}

.mainContainer .menu .socialMedia .socialMediaIcon:hover {
  opacity: 1;
}

.mainContainer .buyCrypto .headerBuyCrypto {
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(35%, #edf1f5), to(rgba(235, 243, 250, 0.89)));
  background: linear-gradient(0deg, white 0%, #edf1f5 35%, rgba(235, 243, 250, 0.89) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0vh 7vw;
  margin-bottom: 0vh;
  height: 350px;
}

.mainContainer .buyCrypto .headerBuyCrypto h1,
.mainContainer .buyCrypto .headerBuyCrypto h4,
.mainContainer .buyCrypto .headerBuyCrypto button {
  margin: 10px;
}

.mainContainer .buyCrypto .headerBuyCrypto h1 {
  font-size: 45px;
}

.mainContainer .buyCrypto .headerBuyCrypto h4 {
  font-size: 24px;
  color: #4e4e4e;
}

.mainContainer .buyCrypto .headerBuyCrypto button {
  width: 120px;
  height: 38px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(356deg, #478fff 0%, #0063ff 49%, #0063ff 100%);
  color: white;
  right: 70px;
  top: 11.5px;
  font-weight: bold;
  cursor: pointer;
}

.mainContainer .buyCrypto .howToBuy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  padding: 0vh 5vw 0vw 5vw;
}

.mainContainer .buyCrypto .howToBuy div {
  position: relative;
  width: 32vw;
  min-width: 290px;
  min-height: 240px;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 20px;
  padding: 20px 40px;
  border-radius: 10px;
  border-left: 1px solid #0062ff32;
}

.mainContainer .buyCrypto .howToBuy div h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #0063ff;
  color: #0063ff;
  padding: 3px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.mainContainer .buyCrypto .howToBuy div .lastOne {
  background-color: #0063ff;
  color: #ffffff;
}

.mainContainer .buyCrypto .howToBuy div h5 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
  color: #404040;
}

.mainContainer .buyCrypto .exchangesTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 6vw 9vw 20px 9vw;
  border-radius: 30px 30px 0px 0px;
  background-color: white;
}

.mainContainer .buyCrypto .exchangesTitle h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  color: #0063ff;
}

.mainContainer .buyCrypto .exchangesTitle h1 img {
  width: 30px;
  margin: 15px 10px 10px;
}

.mainContainer .buyCrypto .exchangesTitle h3 {
  font-weight: 300;
  margin-top: 10px;
}

.mainContainer .buyCrypto .exchanges {
  background-color: white;
  height: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0vh 5vw 8vw 5vw;
}

.mainContainer .buyCrypto .exchanges .exchangesDiv {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 450px;
  -webkit-box-flex: 200px;
      -ms-flex: 200px 1 1;
          flex: 200px 1 1;
  height: auto;
  min-height: 265px;
  background-color: #ebf3faab;
  border-radius: 20px;
  padding: 20px 15px 20px 30px;
  margin: 4vh 2vh 0vw 2vh;
}

.mainContainer .buyCrypto .exchanges .exchangesDiv .exchangesDivImg {
  width: 180px;
  height: 70px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.mainContainer .buyCrypto .exchanges .exchangesDiv h2 {
  margin-top: 10px;
  font-size: 18px;
}

.mainContainer .buyCrypto .exchanges .exchangesDiv h4 {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 300;
  color: #383c40;
}

.mainContainer .buyCrypto .exchanges .exchangesDiv .buyAndPaymentMethod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainContainer .buyCrypto .exchanges .exchangesDiv .buyAndPaymentMethod button {
  margin: 20px 0px 10px 0px;
  width: 140px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(356deg, #478fff 0%, #0063ff 49%, #0063ff 100%);
  color: white;
  right: 70px;
  top: 11.5px;
  font-weight: bold;
  cursor: pointer;
}

.mainContainer .buyCrypto .exchanges .exchangesDiv .buyAndPaymentMethod .openPayment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 45px;
  border-radius: 5px;
  background-color: #0062ff11;
  margin: 20px 20px 10px 0px;
  cursor: pointer;
}

.mainContainer .buyCrypto .exchanges .exchangesDiv .buyAndPaymentMethod .openPayment .openPaymentImg {
  width: 15px;
  height: 12px;
}

.mainContainer .buyCrypto .exchanges .exchangesDiv .buyAndPaymentMethod .openPayment .rotated {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.mainContainer .buyCrypto .exchanges .exchangesDiv .buyAndPaymentMethod .openPayment h3 {
  margin-right: 8px;
  font-weight: 300;
  font-size: 13px;
  color: #4a4a4a;
}

.mainContainer .buyCrypto .exchanges .exchangesDiv .buyAndPaymentMethod .openPayment h3:hover {
  color: black;
}

.mainContainer .buyCrypto .exchanges .exchangesDiv .payment {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainContainer .buyCrypto .exchanges .exchangesDiv .payment .paymentDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border-left: 3px solid #0063ff;
  height: 55px;
  margin: 15px 10px 10px 0px;
  padding-left: 30px;
  background-color: #0062ff11;
}

.mainContainer .buyCrypto .exchanges .exchangesDiv .payment .paymentDiv .paymentDivImg {
  width: 20px;
  margin-right: 15px;
}

.mainContainer .buyCrypto .exchanges .exchangesDiv .payment .paymentDiv h3 {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainContainer .buyCrypto .exchanges .exchangesDiv .payment .paymentDiv:hover {
  background-color: #0062ff21;
}

@media (max-width: 590px) {
  .mainContainer {
    font-family: roboto;
  }
  .mainContainer .header .buyCrypto {
    width: 110px;
    height: 38px;
    right: 65px;
    top: 11.5px;
  }
  .mainContainer .buyCrypto .headerBuyCrypto h1 {
    font-size: 30px;
  }
  .mainContainer .buyCrypto .headerBuyCrypto h4 {
    font-size: 19px;
    font-weight: 400;
  }
  .mainContainer .buyCrypto .howToBuy h1 {
    font-size: 27px;
  }
  .mainContainer .buyCrypto .exchangesTitle {
    min-width: 240px;
  }
  .mainContainer .buyCrypto .exchangesTitle h3 {
    font-size: 14px;
  }
  .mainContainer .buyCrypto .exchanges .exchangesDiv {
    min-width: 240px;
    min-height: 300px;
  }
  .mainContainer .buyCrypto .exchanges .exchangesDiv .buyAndPaymentMethod button {
    min-width: 140px;
    min-height: 45px;
  }
  .mainContainer .buyCrypto .exchanges .exchangesDiv .buyAndPaymentMethod .openPayment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #0062ff11;
    min-height: 45px;
    width: 45px;
    border-radius: 5px;
    padding: unset;
  }
  .mainContainer .buyCrypto .exchanges .exchangesDiv .buyAndPaymentMethod .openPayment .openPaymentImg {
    height: 13px;
    width: 20px;
  }
  .mainContainer .buyCrypto .exchanges .exchangesDiv .buyAndPaymentMethod .openPayment h3 {
    display: none;
  }
  .mainContainer .buyCrypto .exchanges .exchangesDiv .payment .paymentDiv {
    padding-left: 15px;
  }
  .mainContainer .buyCrypto .exchanges .exchangesDiv .payment .paymentDiv h3 {
    font-size: 14px;
  }
}
/*# sourceMappingURL=buycrypto.css.map */