* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
}

* a {
  text-decoration: none;
}

.darkMode {
  background: white;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .header button {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .privet a {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .menu button {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .menu button:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .menu h1:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
  border-bottom: 1px solid rgba(56, 56, 56, 0.672);
}

.darkMode .menu .lightbox {
  -webkit-filter: invert(0.7);
          filter: invert(0.7);
}

.darkMode .menu .newIcon {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.mainContainer {
  font-family: roboto;
}

.mainContainer .header {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 60px;
  top: 0vh;
  z-index: 999;
  background-color: white;
  -webkit-box-shadow: 0 4px 20px -2px #ededed;
          box-shadow: 0 4px 20px -2px #ededed;
}

.mainContainer .header h1 {
  position: absolute;
  font-weight: 300;
  font-size: 20px;
  padding-left: 29px;
  top: 0;
}

.mainContainer .header a {
  color: black;
  text-decoration: none;
}

.mainContainer .header .logo {
  width: 25px;
  margin: 18px;
}

.mainContainer .header .buyCrypto {
  width: 120px;
  height: 38px;
  border: none;
  border-radius: 5px;
  background-color: #0099ff;
  color: white;
  position: absolute;
  right: 70px;
  top: 11.5px;
  font-weight: bold;
  cursor: pointer;
}

.mainContainer .header .buyCrypto:hover {
  background-color: #0078c8;
}

.mainContainer .header img {
  width: 25px;
  margin-right: 20px;
  cursor: pointer;
}

.mainContainer .menu {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  min-height: auto;
  padding: 0px 30px 0px 30px;
  top: 60px;
  z-index: 10;
  -webkit-animation: fadein 0.5s;
          animation: fadein 0.5s;
  background-color: white;
}

.mainContainer .menu h1 {
  font-weight: 400;
  font-size: 18px;
  padding: 15px 0px 15px 0px;
  cursor: pointer;
  border-bottom: 1px solid rgba(235, 235, 235, 0.672);
}

.mainContainer .menu h1:hover {
  color: #0099ff;
}

.mainContainer .menu a {
  color: black;
  text-decoration: none;
}

.mainContainer .menu button {
  margin: 15px 20px 0px 00px;
  width: 100%;
  height: 35px;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: #dfdfdf;
  cursor: pointer;
}

.mainContainer .menu button:hover {
  background-color: #0099ff;
}

.mainContainer .menu .exitMenuIcon {
  width: 30px;
}

.mainContainer .menu .newIcon {
  position: absolute;
  left: 110px;
  top: 112px;
  width: 34px;
  z-index: 9;
  cursor: pointer;
  border-radius: 30px;
}

.mainContainer .menu .btnDarkModeIcon {
  position: absolute;
  right: 40px;
  bottom: 132px;
  width: 20px;
  z-index: 9;
  cursor: pointer;
  background-color: #f4f4f4;
  padding: 3px;
  border-radius: 5px;
  opacity: 0.8;
}

.mainContainer .menu .getStarted {
  background-color: #0099ff;
  margin-bottom: 15px;
}

.mainContainer .menu .btnDownArrow {
  width: 15px;
  position: absolute;
  right: 45px;
  top: 229px;
}

.mainContainer .menu .companyMenu {
  display: none;
  font-weight: 300;
  font-size: 18px;
  background-color: rgba(235, 235, 235, 0.466);
  padding: 12px 30px 12px 30px;
  margin: 0px -30px 0px -30px;
}

.mainContainer .menu .lightbox {
  position: fixed;
  top: auto;
  margin-left: -30px;
  height: 72vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.171);
}

.mainContainer .privet {
  padding: 10vw;
}

.mainContainer .privet h1 {
  margin-bottom: 40px;
}

.mainContainer .privet h2 {
  font-size: 18px;
  margin-top: 30px;
}

.mainContainer .privet p {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 300;
}

.mainContainer .privet li {
  margin-top: 7px;
  font-size: 15px;
  font-weight: 400;
}

@media (max-width: 590px) {
  .mainContainer {
    font-family: roboto;
  }
  .mainContainer .header .buyCrypto {
    width: 110px;
    height: 38px;
    right: 65px;
    top: 11.5px;
  }
}
/*# sourceMappingURL=privet.css.map */