* {
    box-sizing: border-box;
    margin: 0px;
    a {
        text-decoration: none;
    }
}
.darkMode {
    background: rgb(255, 255, 255);
    .header {
        button {
            filter: invert(1);
        }
    }
    .menu {
        h1:hover {
            filter: invert(1);
            border-bottom: 1px solid rgba(56, 56, 56, 0.672);
        }
        .lightbox {
            filter: invert(0.7);
        }
        .newIcon{
            filter: invert(1);
        }
        .getStarted{
            filter: invert(1);
        }
    }
    .marketData {
        p {
            filter: invert(1);
        }
    }
    .market {
        .searchBar {
            input {
                background-color: rgb(255, 255, 255);
            }
            input:focus {
                background-color: black;
                color: rgb(255, 255, 255);
                filter: invert(1);
            }
        }
        .coins {
            display: flex;
            flex-direction: column;
            align-items: center;
            .coinDiv {
                .coinDivLeft {
                    img {
                        filter: invert(1);
                    }
                }
                .coinDivRight {
                    .coinDivRightPrice {
                        filter: invert(1);
                    }
                }
            }
        }
        .coinInfromation {
            display: none;
            position: fixed;
            overflow: scroll;
            top: 60px;
            height: 100%;
            width: 100%;
            background-color: rgb(255, 255, 255);
            .coinInfromationProfile {
                img {
                    filter: invert(1);
                }
            }
            .coinInfromationContent {
                .coinInfromationContentMainValue {
                    div {
                        h1 {
                            filter: invert(1);
                        }
                        h2 {
                            filter: invert(1);
                        }
                    }
                }
            }
            .tradingview-widget-container {
                filter: invert(1);
                #tradingview_858d7 {
                    z-index: -1;
                }
            }
        }
    }
    .coverter{
        .coverterPage{
            .coverterPageFrom{
                .coinSymbolImageConverter{
                    filter: invert(1);
                }
            }
            .coverterPageAmount{
                input{
                    filter: grayscale(1);
                }
            }

        }
    }
}
.mainContainer {
    font-family: roboto;
    background-color: rgba(235, 235, 235, 0.37);
    .header {
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 60px;
        top: 0vh;
        z-index: 999;
        background-color: white;
        box-shadow: 0 4px 20px -2px rgb(237, 237, 237);
        h1 {
            position: absolute;
            font-weight: 300;
            font-size: 20px;
            padding-left: 29px;
            top: 0;
        }
        a {
            color: black;
            text-decoration: none;
        }
        .logo {
            width: 25px;
            margin: 18px;
        }
        .buyCrypto {
            width: 120px;
            height: 38px;
            border: none;
            border-radius: 5px;
            background: linear-gradient(
                356deg,
                rgba(71, 143, 255, 1) 0%,
                rgba(0, 99, 255, 1) 49%,
                rgba(0, 99, 255, 1) 100%
            );
            color: white;
            position: absolute;
            right: 70px;
            top: 11.5px;
            font-weight: bold;
            cursor: pointer;
        }
        img {
            width: 25px;
            margin-right: 20px;
            cursor: pointer;
        }
    }
    .menu {
        display: none;
        position: sticky;
        overflow: scroll;
        height: 94vh;
        padding: 15px 30px 0px 30px;
        top: 60px;
        z-index: 10;
        animation: fadein 0.5s;
        background-color: rgb(255, 255, 255);
        h1 {
            font-weight: 400;
            width: 100%;
            font-size: 18px;
            padding: 15px 0px 15px 0px;
            cursor: pointer;
            border-bottom: 1px solid rgba(235, 235, 235, 0.672);
        }
        h1:hover {
            color: #0063ff;
        }
        a {
            color: rgb(0, 0, 0);
            text-decoration: none;
        }
        button {
            margin-top: 25px;
            width: 100%;
            height: 45px;
            border: none;
            color: rgb(0, 0, 0);
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0);
            cursor: pointer;
        }
        button:hover {
            background-color: rgb(243, 243, 243);
        }
        .exitMenuIcon {
            width: 30px;
        }
        .newIcon {
            position: absolute;
            left: 110px;
            top: 127px;
            width: 34px;
            z-index: 9;
            cursor: pointer;
            border-radius: 30px;
        }
        .companyMenu {
            display: none;
            font-weight: 300;
            font-size: 18px;
            background-color: rgba(235, 235, 235, 0.466);
            padding: 12px 30px 12px 30px;
            margin: 0px -30px 0px -30px;
        }
        .btnDownArrow {
            width: 15px;
            position: absolute;
            right: 45px;
            top: 347px;
        }
        .btnDarkMode {
            position: relative;
            z-index: 2;
            .btnDarkModeIcon {
                position: absolute;
                right: 10px;
                top: 16px;
                width: 20px;
                z-index: 1;
                cursor: pointer;
                background-color: rgb(244, 244, 244);
                padding: 3px;
                border-radius: 5px;
                opacity: 0.8;
            }
        }
        .btnAddToHomeScreen {
            position: relative;
            .btnAddToHomeScreenIcon {
                position: absolute;
                right: 10px;
                top: 16px;
                width: 20px;
                z-index: 9;
                cursor: pointer;
                padding: 3px;
                border-radius: 5px;
                opacity: 0.8;
            }
        }
        .getStarted {
            background: linear-gradient(
                356deg,
                rgba(71, 143, 255, 1) 0%,
                rgba(0, 99, 255, 1) 49%,
                rgba(0, 99, 255, 1) 100%
            );
            color: white;
            margin-top: 20px;
        }
        .subMenu {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70px;
            border-bottom: 1px solid rgb(231, 231, 231);
            h3 {
                margin: 10px;
                font-size: 13px;
                color: rgb(100, 100, 100);
            }
            h3:hover {
                color: rgb(0, 0, 0);
            }
        }
        .socialMedia {
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            .socialMediaIcon {
                width: 20px;
                margin: 5px 15px 0px 15px;
                opacity: 0.7;
            }
            .socialMediaIcon:hover {
                opacity: 1;
            }
        }
    }
    .marketData {
        display: flex;
        align-items: center;
        height: 40px;
        overflow: auto;
        background-color: rgb(255, 255, 255);
        border-bottom: 1px solid rgba(205, 205, 205, 0.219);
        padding-right: 20px;
        div {
            display: flex;
            align-items: center;
            height: 20px;
            margin-left: 20px;
            h6 {
                font-size: 11px;
                font-weight: 400;
                color: black;
                white-space: nowrap;
            }
            p {
                color: rgb(2, 105, 223);
                font-size: 11px;
                font-weight: 400;
                margin-left: 3px;
                white-space: nowrap;
            }
        }
    }
    .lightboxCoins {
        position: fixed;
        display: none;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(128, 128, 128, 0.621);
        z-index: 999;
    }
    .market {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 400px;
        height: 500px;
        display: none;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
        z-index: 999;
        .closeMarket {
            position: absolute;
            opacity: 70%;
            width: 20px;
            right: 15px;
            top: 15px;
            cursor: pointer;
            background-color: rgba(205, 205, 205, 0.479);
            border-radius: 5px;
            padding: 3px;
        }
        .closeMarket:hover {
            opacity: 100%;
        }
        .searchBar {
            height: 110px;
            width: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 0px 2vw;
            h1 {
                align-self: flex-start;
                width: 90vw;
                margin-left: 0.5vw;
                margin-bottom: 5px;
                font-size: 14px;
                font-weight: 400;
                color: rgb(42, 42, 42);
            }
            input {
                font-size: 17px;
                width: 100%;
                height: 37px;
                border: 1px solid rgb(236, 236, 236);
                outline: none;
                margin: 5px;
                padding: 0px 10px 0px 30px;
                border-radius: 4px;
                background-image: url(/arena.github.io/image/search.png);
                background-size: 13px;
                background-repeat: no-repeat;
                background-position-y: center;
                background-position-x: 10px;
            }
            ::placeholder {
                color: rgb(178, 178, 178);
                font-size: 12px;
                font-weight: 200;
            }
            input:focus {
                border: 1px solid rgb(2, 105, 223);
            }
            input:focus::placeholder {
                color: transparent;
            }
        }
        .headerCoins {
            position: sticky;
            top: 60px;
            display: flex;
            height: 50px;
            z-index: 12;
            background-color: white;
            border-top: 1px solid rgb(243, 243, 243);
            border-bottom: 1px solid rgb(243, 243, 243);
            .headerCoinsLeft {
                display: flex;
                justify-content: start;
                align-items: center;
                width: 100%;
                h3 {
                    color: black;
                    margin-left: 20px;
                    font-weight: 300;
                    font-size: 13px;
                }
                .nameCoins {
                    margin-left: 35px;
                }
            }
        }
        .coins {
            display: block;
            flex-direction: column;
            align-items: center;
            height: 330px;
            overflow: auto;
            .noResults {
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgb(51, 51, 51);
                height: 70px;
                margin-top: 20px;
                padding: 0px 15px;
                min-width: 200px;
                width: 300px;
                font-size: 1em;
                font-weight: 300;
                background-color: rgb(242, 242, 242);
                border-radius: 5px;
                z-index: 2;
            }
            .coinDiv {
                display: flex;
                min-height: 50px;
                width: 100%;
                background-color: rgb(255, 255, 255);
                border-bottom: 1px solid rgba(243, 243, 243, 0.726);
                cursor: pointer;
                z-index: 11;
                padding-left: 10px;
                .coinDivLeft {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    width: 100%;
                    .coinDivLeftRank {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: auto;
                        font-size: 8px;
                        margin-left: 5px;
                        padding: 2px 2.5px;
                        font-weight: 300;
                        background-color: rgb(240, 240, 240);
                        color: rgb(42, 42, 42);
                        border-radius: 2px;
                    }
                    .coinDivLeftImg {
                        border-radius: 50%;
                        width: 27px;
                        margin-left: 15px;
                    }
                    .coinDivLeftName {
                        font-weight: 300;
                        font-size: 14px;
                        margin-left: 10px;
                        white-space: nowrap;
                    }
                    .coinDivLeftSymbol {
                        font-weight: 400;
                        font-size: 13px;
                        margin-left: 6px;
                        margin-top: 0px;
                        color: rgb(137, 137, 137);
                    }
                }
                .coinDivRight {
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    width: 100%;
                    padding: 10px;
                    .coinDivRightNext {
                        right: 20px;
                        width: 22px;
                        opacity: 60%;
                    }
                }
            }
            .coinDiv:hover {
                background-color: rgb(250, 250, 250);
                .coinDivRight {
                    .coinDivRightNext {
                        opacity: 100%;
                    }
                }
            }
        }
        .loading {
            position: sticky;
            margin: auto;
            margin-top: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 30vw;
            background-color: rgba(238, 238, 238, 0.562);
            border-radius: 5px;
            z-index: 1;
            animation: fadein 1s ease-in-out infinite;
            h1 {
                font-size: 1em;
                font-weight: 300;
            }
        }
    }
    .mainCoverter {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 700px;
        background-color: white;
        .coverter {
            width: 80%;
            height: 600px;
            background-color: white;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 10px;
            .coverterHeader {
                display: flex;
                align-items: center;
                justify-content: start;
                height: 100px;
                border-bottom: 1px solid rgba(224, 233, 241, 0.603);
                margin: 0px 9vw;
                h1 {
                    font-size: 22px;
                }
            }
            .coverterPage {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 470px;
                .coverterPageAmount {
                    display: flex;
                    position: relative;
                    align-items: flex-start;
                    justify-content: space-evenly;
                    flex-direction: column;
                    height: 100px;
                    width: 80%;
                    background-color: white;
                    border-radius: 5px;
                    input {
                        font-size: 17px;
                        width: 100%;
                        height: 50px;
                        background-color: none;
                        padding-left: 15px;
                        border: 1px solid rgba(112, 112, 112, 0.219);
                        outline: none;
                        margin: 5px;
                        border-radius: 4px;
                    }
                    input:focus {
                        border: 2px solid rgba(44, 44, 44, 0.219);
                    }
                    h1 {
                        font-size: 17px;
                        font-weight: 400;
                        margin-left: 3px;
                        margin-bottom: -5px;
                    }
                }
                .from {
                    display: flex;
                    align-items: flex-end;
                    justify-content: start;
                    width: 80%;
                    h1 {
                        margin-top: 20px;
                        font-size: 17px;
                        font-weight: 400;
                        margin-left: 3px;
                        margin-bottom: 5px;
                    }
                }
                .coverterPageFrom {
                    display: flex;
                    position: relative;
                    align-items: center;
                    height: 70px;
                    width: 80%;
                    background-color: rgba(245, 245, 245, 0.704);
                    border-radius: 5px;
                    cursor: pointer;
                    img {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        margin-left: 20px;
                    }
                    h1 {
                        font-size: 16px;
                        margin-left: 10px;
                    }
                    h2 {
                        font-size: 17px;
                        margin-left: 5px;
                        color: rgb(84, 84, 84);
                    }
                    .arrowDown {
                        position: absolute;
                        right: 23px;
                        width: 15px;
                        height: 15px;
                        cursor: pointer;
                    }
                }
                .coverterPageFrom:hover {
                    background-color: rgba(238, 238, 238, 0.96);
                }
                .to {
                    display: flex;
                    align-items: flex-end;
                    justify-content: start;
                    width: 80%;
                    h1 {
                        margin-top: 20px;
                        font-size: 17px;
                        font-weight: 400;
                        margin-left: 3px;
                        margin-bottom: 5px;
                    }
                }
                .currency {
                    display: flex;
                    position: relative;
                    align-items: center;
                    width: 80%;
                    padding-right: 20px;
                    background-color: rgb(248, 248, 248);
                    border-radius: 5px;
                    .currencySelect {
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        appearance: none;
                        font-size: 17px;
                        padding: 0px 20px;
                        height: 70px;
                        width: 100%;
                        background-color: inherit;
                        color: black;
                        border-radius: 5px;
                        border: none;
                        cursor: pointer;
                        outline: none;
                    }
                    .currencySelect:focus {
                        font-size: 17px;
                    }
                    .arrowDown {
                        position: absolute;
                        right: 23px;
                        width: 15px;
                        height: 15px;
                        cursor: pointer;
                    }
                }
                .currency:hover,
                .currencySelect:hover {
                    background-color: rgba(238, 238, 238, 0.96);
                }
                .cs {
                    display: flex;
                    align-items: flex-end;
                    justify-content: start;
                    width: 80%;
                    h1 {
                        margin-top: 20px;
                        font-size: 17px;
                        font-weight: 400;
                        margin-left: 3px;
                        margin-bottom: 5px;
                    }
                }
                .coverterPageTo {
                    display: flex;
                    position: relative;
                    align-items: center;
                    height: 70px;
                    width: 80%;
                    background-color: rgba(245, 245, 245, 0.704);
                    border-radius: 5px;
                    padding-left: 16px;
                    .coinPriceAmountConverter {
                        font-size: 14px;
                        font-weight: 400;
                        color: rgb(71, 71, 71);
                    }
                    h1 {
                        font-size: 15px;
                        // font-weight: 500;
                        margin-left: 4px;
                    }
                }
            }
        }
    }
}
@media (max-width: 590px) {

    .mainContainer {
        font-family: roboto;
        position: relative;
        .header {
            .buyCrypto {
                width: 110px;
                height: 38px;
                right: 65px;
                top: 11.5px;
            }
        }
        .market {
            position:fixed;
            top: unset;
            left: unset;
            right: unset;
            bottom: 0;
            width:100%;
            height: 530px;
            border-radius: 30px 30px 0px 0px;
            .closeMarket{
                margin-top: 7px;
            }
            .searchBar{
                margin: 10px 4vw 0px 4vw;
            }
            .headerCoins {
                display: flex;
                height: 40px;
                border-bottom: 1px solid rgb(243, 243, 243);
                z-index: 12;
                .headerCoinsLeft {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    width: 100%;
                    h3 {
                        margin-left: 20px;
                        font-weight: 300;
                        font-size: 11px;
                    }
                }
                .headerCoinsRight {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 110%;
                    padding: 0px 10px 0px 0px;
                    h3 {
                        font-weight: 300;
                        font-size: 11px;
                    }
                }
            }
            .coins {
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow-y: auto;
                height: 370px;
                .noResults {
                    margin-top: 50px;
                }
                .coinDiv {
                    display: flex;
                    min-height: 50px;
                    width: 100%;
                    background-color: rgb(255, 255, 255);
                    border-bottom: 1px solid rgba(243, 243, 243, 0.726);
                    border-top: none;
                    border-radius: 0px;
                    z-index: 11;
                    cursor: pointer;
                    .coinDivLeft {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        width: 50%;
                        .coinDivLeftImg {
                            width: 27px;
                            margin-left: 8px;
                        }
                        .coinDivLeftName {
                            font-weight: 300;
                            font-size: 11px;
                            margin-left: 4px;
                            white-space: nowrap;
                        }
                        .coinDivLeftSymbol {
                            font-weight: 400;
                            font-size: 11px;
                            margin-left: 6px;
                            margin-top: 0px;
                            color: rgb(137, 137, 137);
                        }
                    }
                    .coinDivRight {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        width: 60%;
                        padding: 10px;
                        .coinDivRightNext {
                            position: absolute;
                            right: 20px;
                            width: 22px;
                            opacity: 60%;
                        }
                    }
                }
                .coinDiv:hover {
                    background-color: rgb(250, 250, 250);
                }
            }

        }
        .mainCoverter{
            .coverter{
                width:100%;
                border-radius: none;
                box-shadow: none;
                .coverterHeader{
                    height: 80px;
                }
                .coverterPage{
                    .coverterPageFrom{
                        h1{
                            font-size: 15px;
                        }
                        h2{
                            font-size: 14px;

                        }
                    }
                    .currency{
                        .currencySelect{
                            font-size: 13px;
                        }
                        .currencySelect:focus{
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 1477px) {
    .mainContainer {
        .header {
            padding: 0px 7vw;
            .buyCrypto {
                right: 12%;
            }
        }
        .marketData {
            padding: 0px 7vw;
        }
        .footer {
            .topHeader {
                padding: 0px 10vw;
            }
            .siteMap {
                padding: 0px 10vw;
            }
            .allRightReserv {
                padding: 0px 10vw;
            }
        }
    }
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
