* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
}

* a {
  text-decoration: none;
}

.darkMode {
  background: white;
}

.darkMode .header button {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .menu h1:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
  border-bottom: 1px solid rgba(56, 56, 56, 0.672);
}

.darkMode .menu .lightbox {
  -webkit-filter: invert(0.7);
          filter: invert(0.7);
}

.darkMode .menu .newIcon {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .menu .getStarted {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .marketData p {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .market .searchBar input {
  background-color: white;
}

.darkMode .market .searchBar input:focus {
  background-color: black;
  color: white;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .market .coins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.darkMode .market .coins .coinDiv .coinDivLeft img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .market .coins .coinDiv .coinDivRight .coinDivRightPrice {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .market .coinInfromation {
  display: none;
  position: fixed;
  overflow: scroll;
  top: 60px;
  height: 100%;
  width: 100%;
  background-color: white;
}

.darkMode .market .coinInfromation .coinInfromationProfile img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .market .coinInfromation .coinInfromationContent .coinInfromationContentMainValue div h1 {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .market .coinInfromation .coinInfromationContent .coinInfromationContentMainValue div h2 {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .market .coinInfromation .tradingview-widget-container {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .market .coinInfromation .tradingview-widget-container #tradingview_858d7 {
  z-index: -1;
}

.darkMode .coverter .coverterPage .coverterPageFrom .coinSymbolImageConverter {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .coverter .coverterPage .coverterPageAmount input {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.mainContainer {
  font-family: roboto;
  background-color: rgba(235, 235, 235, 0.37);
}

.mainContainer .header {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 60px;
  top: 0vh;
  z-index: 999;
  background-color: white;
  -webkit-box-shadow: 0 4px 20px -2px #ededed;
          box-shadow: 0 4px 20px -2px #ededed;
}

.mainContainer .header h1 {
  position: absolute;
  font-weight: 300;
  font-size: 20px;
  padding-left: 29px;
  top: 0;
}

.mainContainer .header a {
  color: black;
  text-decoration: none;
}

.mainContainer .header .logo {
  width: 25px;
  margin: 18px;
}

.mainContainer .header .buyCrypto {
  width: 120px;
  height: 38px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(356deg, #478fff 0%, #0063ff 49%, #0063ff 100%);
  color: white;
  position: absolute;
  right: 70px;
  top: 11.5px;
  font-weight: bold;
  cursor: pointer;
}

.mainContainer .header img {
  width: 25px;
  margin-right: 20px;
  cursor: pointer;
}

.mainContainer .menu {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  overflow: scroll;
  height: 94vh;
  padding: 15px 30px 0px 30px;
  top: 60px;
  z-index: 10;
  -webkit-animation: fadein 0.5s;
          animation: fadein 0.5s;
  background-color: white;
}

.mainContainer .menu h1 {
  font-weight: 400;
  width: 100%;
  font-size: 18px;
  padding: 15px 0px 15px 0px;
  cursor: pointer;
  border-bottom: 1px solid rgba(235, 235, 235, 0.672);
}

.mainContainer .menu h1:hover {
  color: #0063ff;
}

.mainContainer .menu a {
  color: black;
  text-decoration: none;
}

.mainContainer .menu button {
  margin-top: 25px;
  width: 100%;
  height: 45px;
  border: none;
  color: black;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.mainContainer .menu button:hover {
  background-color: #f3f3f3;
}

.mainContainer .menu .exitMenuIcon {
  width: 30px;
}

.mainContainer .menu .newIcon {
  position: absolute;
  left: 110px;
  top: 127px;
  width: 34px;
  z-index: 9;
  cursor: pointer;
  border-radius: 30px;
}

.mainContainer .menu .companyMenu {
  display: none;
  font-weight: 300;
  font-size: 18px;
  background-color: rgba(235, 235, 235, 0.466);
  padding: 12px 30px 12px 30px;
  margin: 0px -30px 0px -30px;
}

.mainContainer .menu .btnDownArrow {
  width: 15px;
  position: absolute;
  right: 45px;
  top: 347px;
}

.mainContainer .menu .btnDarkMode {
  position: relative;
  z-index: 2;
}

.mainContainer .menu .btnDarkMode .btnDarkModeIcon {
  position: absolute;
  right: 10px;
  top: 16px;
  width: 20px;
  z-index: 1;
  cursor: pointer;
  background-color: #f4f4f4;
  padding: 3px;
  border-radius: 5px;
  opacity: 0.8;
}

.mainContainer .menu .btnAddToHomeScreen {
  position: relative;
}

.mainContainer .menu .btnAddToHomeScreen .btnAddToHomeScreenIcon {
  position: absolute;
  right: 10px;
  top: 16px;
  width: 20px;
  z-index: 9;
  cursor: pointer;
  padding: 3px;
  border-radius: 5px;
  opacity: 0.8;
}

.mainContainer .menu .getStarted {
  background: linear-gradient(356deg, #478fff 0%, #0063ff 49%, #0063ff 100%);
  color: white;
  margin-top: 20px;
}

.mainContainer .menu .subMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  border-bottom: 1px solid #e7e7e7;
}

.mainContainer .menu .subMenu h3 {
  margin: 10px;
  font-size: 13px;
  color: #646464;
}

.mainContainer .menu .subMenu h3:hover {
  color: black;
}

.mainContainer .menu .socialMedia {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainContainer .menu .socialMedia .socialMediaIcon {
  width: 20px;
  margin: 5px 15px 0px 15px;
  opacity: 0.7;
}

.mainContainer .menu .socialMedia .socialMediaIcon:hover {
  opacity: 1;
}

.mainContainer .marketData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  overflow: auto;
  background-color: white;
  border-bottom: 1px solid rgba(205, 205, 205, 0.219);
  padding-right: 20px;
}

.mainContainer .marketData div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  margin-left: 20px;
}

.mainContainer .marketData div h6 {
  font-size: 11px;
  font-weight: 400;
  color: black;
  white-space: nowrap;
}

.mainContainer .marketData div p {
  color: #0269df;
  font-size: 11px;
  font-weight: 400;
  margin-left: 3px;
  white-space: nowrap;
}

.mainContainer .lightboxCoins {
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.621);
  z-index: 999;
}

.mainContainer .market {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 500px;
  display: none;
  background-color: white;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  z-index: 999;
}

.mainContainer .market .closeMarket {
  position: absolute;
  opacity: 70%;
  width: 20px;
  right: 15px;
  top: 15px;
  cursor: pointer;
  background-color: rgba(205, 205, 205, 0.479);
  border-radius: 5px;
  padding: 3px;
}

.mainContainer .market .closeMarket:hover {
  opacity: 100%;
}

.mainContainer .market .searchBar {
  height: 110px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 2vw;
}

.mainContainer .market .searchBar h1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 90vw;
  margin-left: 0.5vw;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #2a2a2a;
}

.mainContainer .market .searchBar input {
  font-size: 17px;
  width: 100%;
  height: 37px;
  border: 1px solid #ececec;
  outline: none;
  margin: 5px;
  padding: 0px 10px 0px 30px;
  border-radius: 4px;
  background-image: url(/image/search.png);
  background-size: 13px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px;
}

.mainContainer .market .searchBar ::-webkit-input-placeholder {
  color: #b2b2b2;
  font-size: 12px;
  font-weight: 200;
}

.mainContainer .market .searchBar :-ms-input-placeholder {
  color: #b2b2b2;
  font-size: 12px;
  font-weight: 200;
}

.mainContainer .market .searchBar ::-ms-input-placeholder {
  color: #b2b2b2;
  font-size: 12px;
  font-weight: 200;
}

.mainContainer .market .searchBar ::placeholder {
  color: #b2b2b2;
  font-size: 12px;
  font-weight: 200;
}

.mainContainer .market .searchBar input:focus {
  border: 1px solid #0269df;
}

.mainContainer .market .searchBar input:focus::-webkit-input-placeholder {
  color: transparent;
}

.mainContainer .market .searchBar input:focus:-ms-input-placeholder {
  color: transparent;
}

.mainContainer .market .searchBar input:focus::-ms-input-placeholder {
  color: transparent;
}

.mainContainer .market .searchBar input:focus::placeholder {
  color: transparent;
}

.mainContainer .market .headerCoins {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  z-index: 12;
  background-color: white;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
}

.mainContainer .market .headerCoins .headerCoinsLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mainContainer .market .headerCoins .headerCoinsLeft h3 {
  color: black;
  margin-left: 20px;
  font-weight: 300;
  font-size: 13px;
}

.mainContainer .market .headerCoins .headerCoinsLeft .nameCoins {
  margin-left: 35px;
}

.mainContainer .market .coins {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 330px;
  overflow: auto;
}

.mainContainer .market .coins .noResults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #333333;
  height: 70px;
  margin-top: 20px;
  padding: 0px 15px;
  min-width: 200px;
  width: 300px;
  font-size: 1em;
  font-weight: 300;
  background-color: #f2f2f2;
  border-radius: 5px;
  z-index: 2;
}

.mainContainer .market .coins .coinDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(243, 243, 243, 0.726);
  cursor: pointer;
  z-index: 11;
  padding-left: 10px;
}

.mainContainer .market .coins .coinDiv .coinDivLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mainContainer .market .coins .coinDiv .coinDivLeft .coinDivLeftRank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  font-size: 8px;
  margin-left: 5px;
  padding: 2px 2.5px;
  font-weight: 300;
  background-color: #f0f0f0;
  color: #2a2a2a;
  border-radius: 2px;
}

.mainContainer .market .coins .coinDiv .coinDivLeft .coinDivLeftImg {
  border-radius: 50%;
  width: 27px;
  margin-left: 15px;
}

.mainContainer .market .coins .coinDiv .coinDivLeft .coinDivLeftName {
  font-weight: 300;
  font-size: 14px;
  margin-left: 10px;
  white-space: nowrap;
}

.mainContainer .market .coins .coinDiv .coinDivLeft .coinDivLeftSymbol {
  font-weight: 400;
  font-size: 13px;
  margin-left: 6px;
  margin-top: 0px;
  color: #898989;
}

.mainContainer .market .coins .coinDiv .coinDivRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
  padding: 10px;
}

.mainContainer .market .coins .coinDiv .coinDivRight .coinDivRightNext {
  right: 20px;
  width: 22px;
  opacity: 60%;
}

.mainContainer .market .coins .coinDiv:hover {
  background-color: #fafafa;
}

.mainContainer .market .coins .coinDiv:hover .coinDivRight .coinDivRightNext {
  opacity: 100%;
}

.mainContainer .market .loading {
  position: -webkit-sticky;
  position: sticky;
  margin: auto;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 30vw;
  background-color: rgba(238, 238, 238, 0.562);
  border-radius: 5px;
  z-index: 1;
  -webkit-animation: fadein 1s ease-in-out infinite;
          animation: fadein 1s ease-in-out infinite;
}

.mainContainer .market .loading h1 {
  font-size: 1em;
  font-weight: 300;
}

.mainContainer .mainCoverter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 700px;
  background-color: white;
}

.mainContainer .mainCoverter .coverter {
  width: 80%;
  height: 600px;
  background-color: white;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.mainContainer .mainCoverter .coverter .coverterHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 100px;
  border-bottom: 1px solid rgba(224, 233, 241, 0.603);
  margin: 0px 9vw;
}

.mainContainer .mainCoverter .coverter .coverterHeader h1 {
  font-size: 22px;
}

.mainContainer .mainCoverter .coverter .coverterPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 470px;
}

.mainContainer .mainCoverter .coverter .coverterPage .coverterPageAmount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100px;
  width: 80%;
  background-color: white;
  border-radius: 5px;
}

.mainContainer .mainCoverter .coverter .coverterPage .coverterPageAmount input {
  font-size: 17px;
  width: 100%;
  height: 50px;
  background-color: none;
  padding-left: 15px;
  border: 1px solid rgba(112, 112, 112, 0.219);
  outline: none;
  margin: 5px;
  border-radius: 4px;
}

.mainContainer .mainCoverter .coverter .coverterPage .coverterPageAmount input:focus {
  border: 2px solid rgba(44, 44, 44, 0.219);
}

.mainContainer .mainCoverter .coverter .coverterPage .coverterPageAmount h1 {
  font-size: 17px;
  font-weight: 400;
  margin-left: 3px;
  margin-bottom: -5px;
}

.mainContainer .mainCoverter .coverter .coverterPage .from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 80%;
}

.mainContainer .mainCoverter .coverter .coverterPage .from h1 {
  margin-top: 20px;
  font-size: 17px;
  font-weight: 400;
  margin-left: 3px;
  margin-bottom: 5px;
}

.mainContainer .mainCoverter .coverter .coverterPage .coverterPageFrom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 80%;
  background-color: rgba(245, 245, 245, 0.704);
  border-radius: 5px;
  cursor: pointer;
}

.mainContainer .mainCoverter .coverter .coverterPage .coverterPageFrom img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 20px;
}

.mainContainer .mainCoverter .coverter .coverterPage .coverterPageFrom h1 {
  font-size: 16px;
  margin-left: 10px;
}

.mainContainer .mainCoverter .coverter .coverterPage .coverterPageFrom h2 {
  font-size: 17px;
  margin-left: 5px;
  color: #545454;
}

.mainContainer .mainCoverter .coverter .coverterPage .coverterPageFrom .arrowDown {
  position: absolute;
  right: 23px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.mainContainer .mainCoverter .coverter .coverterPage .coverterPageFrom:hover {
  background-color: rgba(238, 238, 238, 0.96);
}

.mainContainer .mainCoverter .coverter .coverterPage .to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 80%;
}

.mainContainer .mainCoverter .coverter .coverterPage .to h1 {
  margin-top: 20px;
  font-size: 17px;
  font-weight: 400;
  margin-left: 3px;
  margin-bottom: 5px;
}

.mainContainer .mainCoverter .coverter .coverterPage .currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding-right: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.mainContainer .mainCoverter .coverter .coverterPage .currency .currencySelect {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 17px;
  padding: 0px 20px;
  height: 70px;
  width: 100%;
  background-color: inherit;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}

.mainContainer .mainCoverter .coverter .coverterPage .currency .currencySelect:focus {
  font-size: 17px;
}

.mainContainer .mainCoverter .coverter .coverterPage .currency .arrowDown {
  position: absolute;
  right: 23px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.mainContainer .mainCoverter .coverter .coverterPage .currency:hover,
.mainContainer .mainCoverter .coverter .coverterPage .currencySelect:hover {
  background-color: rgba(238, 238, 238, 0.96);
}

.mainContainer .mainCoverter .coverter .coverterPage .cs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 80%;
}

.mainContainer .mainCoverter .coverter .coverterPage .cs h1 {
  margin-top: 20px;
  font-size: 17px;
  font-weight: 400;
  margin-left: 3px;
  margin-bottom: 5px;
}

.mainContainer .mainCoverter .coverter .coverterPage .coverterPageTo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 80%;
  background-color: rgba(245, 245, 245, 0.704);
  border-radius: 5px;
  padding-left: 16px;
}

.mainContainer .mainCoverter .coverter .coverterPage .coverterPageTo .coinPriceAmountConverter {
  font-size: 14px;
  font-weight: 400;
  color: #474747;
}

.mainContainer .mainCoverter .coverter .coverterPage .coverterPageTo h1 {
  font-size: 15px;
  margin-left: 4px;
}

@media (max-width: 590px) {
  .mainContainer {
    font-family: roboto;
    position: relative;
  }
  .mainContainer .header .buyCrypto {
    width: 110px;
    height: 38px;
    right: 65px;
    top: 11.5px;
  }
  .mainContainer .market {
    position: fixed;
    top: unset;
    left: unset;
    right: unset;
    bottom: 0;
    width: 100%;
    height: 530px;
    border-radius: 30px 30px 0px 0px;
  }
  .mainContainer .market .closeMarket {
    margin-top: 7px;
  }
  .mainContainer .market .searchBar {
    margin: 10px 4vw 0px 4vw;
  }
  .mainContainer .market .headerCoins {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    border-bottom: 1px solid #f3f3f3;
    z-index: 12;
  }
  .mainContainer .market .headerCoins .headerCoinsLeft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .mainContainer .market .headerCoins .headerCoinsLeft h3 {
    margin-left: 20px;
    font-weight: 300;
    font-size: 11px;
  }
  .mainContainer .market .headerCoins .headerCoinsRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 110%;
    padding: 0px 10px 0px 0px;
  }
  .mainContainer .market .headerCoins .headerCoinsRight h3 {
    font-weight: 300;
    font-size: 11px;
  }
  .mainContainer .market .coins {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-y: auto;
    height: 370px;
  }
  .mainContainer .market .coins .noResults {
    margin-top: 50px;
  }
  .mainContainer .market .coins .coinDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 50px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgba(243, 243, 243, 0.726);
    border-top: none;
    border-radius: 0px;
    z-index: 11;
    cursor: pointer;
  }
  .mainContainer .market .coins .coinDiv .coinDivLeft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
  }
  .mainContainer .market .coins .coinDiv .coinDivLeft .coinDivLeftImg {
    width: 27px;
    margin-left: 8px;
  }
  .mainContainer .market .coins .coinDiv .coinDivLeft .coinDivLeftName {
    font-weight: 300;
    font-size: 11px;
    margin-left: 4px;
    white-space: nowrap;
  }
  .mainContainer .market .coins .coinDiv .coinDivLeft .coinDivLeftSymbol {
    font-weight: 400;
    font-size: 11px;
    margin-left: 6px;
    margin-top: 0px;
    color: #898989;
  }
  .mainContainer .market .coins .coinDiv .coinDivRight {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 60%;
    padding: 10px;
  }
  .mainContainer .market .coins .coinDiv .coinDivRight .coinDivRightNext {
    position: absolute;
    right: 20px;
    width: 22px;
    opacity: 60%;
  }
  .mainContainer .market .coins .coinDiv:hover {
    background-color: #fafafa;
  }
  .mainContainer .mainCoverter .coverter {
    width: 100%;
    border-radius: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .mainContainer .mainCoverter .coverter .coverterHeader {
    height: 80px;
  }
  .mainContainer .mainCoverter .coverter .coverterPage .coverterPageFrom h1 {
    font-size: 15px;
  }
  .mainContainer .mainCoverter .coverter .coverterPage .coverterPageFrom h2 {
    font-size: 14px;
  }
  .mainContainer .mainCoverter .coverter .coverterPage .currency .currencySelect {
    font-size: 13px;
  }
  .mainContainer .mainCoverter .coverter .coverterPage .currency .currencySelect:focus {
    font-size: 13px;
  }
}

@media (min-width: 1477px) {
  .mainContainer .header {
    padding: 0px 7vw;
  }
  .mainContainer .header .buyCrypto {
    right: 12%;
  }
  .mainContainer .marketData {
    padding: 0px 7vw;
  }
  .mainContainer .footer .topHeader {
    padding: 0px 10vw;
  }
  .mainContainer .footer .siteMap {
    padding: 0px 10vw;
  }
  .mainContainer .footer .allRightReserv {
    padding: 0px 10vw;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=coverter.css.map */